.food-display{
    margin-top: 40px;
}

.food-display h2{
    font-size: 30px;
    font-weight: 600;
    margin-left: 80px;
}

.food-display-list{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap:35px;
    margin-top:30px;
    padding:0 80px;
}

/* tablet */

@media (max-width:1050px){

    .food-display h2{
        margin-left:50px;
    }

    .food-display-list{
        padding:0 50px;
        grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
    }

}

/* mobile */

@media (max-width:750px){

    .food-display h2{
        margin-left:20px;
        font-size:24px;
    }

    .food-display-list{
        padding:0 20px;
        grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
        gap:25px;
    }

}